body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    background: white;
    font-size: 24px;
}

section { width: 75%; margin: 10px auto auto auto; }

.slide hgroup {
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}
.slide:not(:first-child) hgroup {
    padding-bottom: 42px;
}

.slide h1 { font-size: 48px; color: #27aae1; }
.slide h2 { font-size: 42px; color: #799d4d; }
.slide a { text-decoration: none }
.slide pre { font-size: 16px }
.slide footer { text-align: right }

.slide .center { text-align: center }
.slide .padded { padding: 36px 0 }
.slide .big { font-size: 42px }
.slide .green { color: #799d4d }

.slide img.mascot { padding: 24px; height: 128px }
.slide img.logo { height: 128px }

.twitter { width: 60%; margin: auto }
.twitter span { font-size: 42px }
.twitter img { display: inline; height: 180px; vertical-align: middle; padding-right: 20px }

.slide footer p { padding: 0 }
